
@media(max-width: 600px){
    #bgi{
        background-image: url(image/responsive.jpg);
    }
    .textos{
        flex-direction: column;
    }
    #modules h1{
        font-size: 30px;
    }
    #modulos{
        flex-direction: column;
    }
    #mod1{
        text-align: center;
    }
    #mod2{
        text-align: center;

    }
    .perfil{
        height: 140vh;
    }
    .perfil .textos img{
        margin-left: 70px;
        margin-top: 40px;
    }
    #bgi #buttonbuy a{
        width: 350px;
    }

    .perfil .textos img{
        margin-top: 70px;
    }
}