#page-main{
    width: 100vw;
    height: 100vh;
}

/* //LANDING PAGE */

#landing-title{
    /* Aumentar o width da langind-title e colocar marginright no texto */
    position: fixed;
    background-color: #0B0B0B;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 0.2rem;
    height: 7rem;
    width: 102%;
    
    color: #f28b05;
    font-size: 1.6rem;
    font-weight: bold;
}

#bgi{
    background: rgba(0,0,0,.4);
    background: url(../../assets/images/responsive.jpg) no-repeat center top fixed;
    background-size: cover;
    min-height: 100%;
    max-height: 120%;
}

#text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#content{
    background-color: #0e0d0db4;
    height: 100%;
}

#video{
    display: flex;
    justify-content: center;
    align-items: center;
}
#video iframe{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%;
    height: 25rem;
    margin-top: 8rem;
}

#bgi #text span{

    margin-top: 10rem;
    color: #DCDCDC;
    font-weight: bold;
    font-size: 2.3rem;
    letter-spacing: -.0415625em;
    text-align: center;
}

#bgi #text #title{
    text-align: center;
    color: #DCDCDC;
    font-weight: bold;
    font-size: 2.3rem;
    letter-spacing: -.0415625em;
}

#bgi #text strong{
    color: #f28b05
}


#bgi #buttonbuy{
    padding-bottom: 2rem;
    padding-top: 4rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}
#bgi #buttonbuy a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#f12929af;
    text-decoration: none;
    width: 70%;
    height: 6.5rem;
    border-radius: 0.8rem;
    box-shadow: 0px 0px 10px 0px #f12929af;  
    transition: 400;             
}

#bgi #buttonbuy a:hover{
    background-color: #f12929da;
    box-shadow: 0px 0px 10px 0px #f12929da;
    transition: 600ms;

}

#bgi #buttonbuy a span{
    color: #DCDCDC;
    font-weight: bold; 
    font-size: 1.6rem;
}

/* //PERFIL */

#perfil-name{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
}

#perfil{
    background: #0B0B0B;
    min-height: 100%;
    max-height: 200%;
    display: flex;
    flex-direction: column;
    
}

#perfil h1{
    text-align: center;
    color:#f28b05;
    margin-top: 3rem;
    height: fit-content;
    
}

#perfil h1 strong{
    color:  #f28b05;
}

#perfil #textos{
    margin-top: 2rem;
    height: fit-content;
}

#perfil #textos #textoum{
    color: #DCDCDC;
    height: fit-content;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 3rem;
   
}

#perfil #textos img{
    height: 20rem;
    display: block;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;

}

#perfil #textos p strong{
    color:  #f28b05;
}

#perfil #textos #textodois{
    color: #DCDCDC;
    height: fit-content;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 2rem;
}

/* //MÓDULOS */

#modules{
    background-color: rgb(25, 28, 30);;
}


#modules-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f28b05;

}


#modules #h1-modules{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin-top: 4rem;
}

#module-name{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


#module-name img{
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#modulos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modulos #mod1{
    margin-top: 5rem;
    background-color: #0b0b0b5e;
    border-radius: 0.8rem;
    width: 80%;
    height: fit-content;
    display: flex;
    text-align: center;
    justify-content: center;
}

#modulos #mod1 strong{
    display: flex;
    justify-content: center;
    color: #f28b05;
}
#mod1-title{
    margin-top: -1rem;
}

#modulos #mod1 p{
    height: 100%;
    color: #DCDCDC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#modulos #mod2{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 3rem;
    background-color: #0b0b0b5e;
    border-radius: 0.8rem;
    width: 80%;
    height: fit-content
}

#modulos #mod2 strong{
    display: flex;
    justify-content: center;
    color: #f28b05;

}
#mod2-title{
    margin-top: -1rem;
}
#modulos #mod2 p{
    color: ivory;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#results{
    background-color: #DCDCDC;
    height: 100vh;
}


@media(min-width: 700px){
    #page-main{
        max-width: 100%;
    }

    #landing-title{
        width: 102%;
        padding-right: 0.2rem;
    }

    #content{
        height: 100%;
    }

    #bgi #text span,
    #bgi #text #title{
        font-size: 4rem;
    }

    #bgi{
        background: rgba(0,0,0,.4);
        background: url(../../assets/images/bgi.jpg) no-repeat center top fixed;
        background-size: cover;
        height: 130vh;
    }
    #bgi #buttonbuy a{
        width: 50%;
    }
    #bgi #buttonbuy a span{
        font-size: 2.6rem;
    }

    #video iframe{
        width: 40%;
        height: 300;
    }

    #textos{
        display: flex;
        justify-content: center; 
        align-items: center;
        margin-top: 3rem;
    }

    #perfil{
        height: 70vh;
    }

    #modulos{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 2rem;
    }

    #mod1{
        margin-top: 5rem !important;
        background-color: rgb(25, 28, 30) !important;
        
        
    }

    #mod1 p{
        background-color: #0b0b0b5e;
        border-radius: 0.8rem;
        width: 70%;
    }

    #mod2{
        background-color: rgb(25, 28, 30) !important;
    }

    #mod2 p{
        background-color: #0b0b0b5e;
        border-radius: 0.8rem;
        width: 70%;
    }
}
